<!DOCTYPE html>
<html>
<head>
    <title>Generator Manager</title>
    <style>
        #prevent-start {
            width: 300pt;
            font-size: 42pt;
            color: white;
            border-radius: 20pt;
            padding: 10pt;
            cursor: pointer;
        }

        .generator-override-false {
            background-color: red;
        }

        .generator-override-true {
            background-color: green;
        }

        .disabled {
            opacity: 50%;
        }

        #current-limit-div {
            font-size: 42pt;
            padding-top: 42pt;
        }

        #current-limit {
            font-size: 42pt;
            width: 80pt;
            text-align: right;
            -webkit-appearance: none;
            -moz-appearance: textfield;
        }

        #submit-current-limit {
            font-size: 25pt;
        }
    </style>
    <script>

        function disabled() {
            return document.getElementById("prevent-start").classList.toString().indexOf("disabled") != -1;
        }

        function disable() {
            document.getElementById("prevent-start").classList += " disabled";
            document.getElementById("submit-current-limit").disabled = "disabled";
        }

        function post(url) {
            const httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = () => {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    window.location = window.location;
                }
            };

            httpRequest.open('POST', url, true);
            httpRequest.send();
        }

        window.override = function() {
            if(!disabled()) {
                disable();
                var url = '/prevent_start/' + !{{prevent_start}};
                post(url);
            }
        }

        window.setCurrentLimit = function() {
            if(!disabled()) {
                disable();
                var new_limit = document.getElementById("current-limit").value;
                var url = '/shore_limit/' + new_limit;
                post(url);
            }
        }
    </script>
</head>
<body>
    <center>
        <h2>
            {{#if prevent_start}}
                Generator currently NOT allowed.
            {{else}}
                Generator currently allowed.
            {{/if}}
        </h2>
        <div id="prevent-start" onclick="override()" class="generator-override-{{prevent_start}}">
            {{#if prevent_start}}
                Allow Generator
            {{else}}
                Disallow Generator
            {{/if}}
        </div>
        <div id="current-limit-div">
            Shore current limit of
            <input type="number" id="current-limit" value="{{shore_limit}}" min="1" max="99">
            Amps.<br>
            <input type="button" id="submit-current-limit" value="Update shore limit" onclick="setCurrentLimit()">
        </div>
    </center>
</body>
</html>
